/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav .links {
  margin: 1%;
}
nav .links a {
  text-decoration: none;
  color: #c716c4;
  width: 20%;
  justify-content: space-around;
}
nav .queue {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}
nav .queue a {
  text-decoration: none;
}
nav .queue p {
  padding: 1%;
}
footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
body {
  background: whitesmoke;
}
.main {
  display: flex;
  align-items: center;
  margin: 5%;
  width: 100%;
}
@media (max-width: 500px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.get-started h2,
.get-started h3 {
  line-height: 1.4rem;
}
.get-started h2 {
  font-weight: bold;
  font-size: 1.8rem;
}
.get-started h3 {
  margin: 1% 0;
  font-size: 1.4rem;
  transition: linear;
}
.get-started h6 {
  line-height: 1.4rem;
  margin-bottom: 1%;
}
.get-started button {
  flex-direction: row;
  padding: 1%;
  font-size: 100%;
  border-radius: 8%;
  background: #C716C4;
}
.get-started button a {
  text-decoration: none;
  color: white;
}
.get-started button:hover {
  cursor: pointer;
  background: white;
}
.get-started button:hover a {
  color: #C716C4;
}
.phone-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (max-width: 500px) {
  .phone-screen {
    justify-content: center;
  }
}
.phone-screen img {
  width: 50%;
  height: 50%;
  margin: 5%;
}
.middle-content {
  display: flex;
  margin: 5%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .middle-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.middle-content .middle-img {
  width: 50%;
}
.middle-content .middle-img img {
  width: 90%;
  height: 40%;
}
.middle-content .middle-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2%;
}
.bottom-content {
  display: flex;
  justify-content: center;
  margin: 5%;
}
@media (max-width: 500px) {
  .bottom-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.bottom-content .bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: 100%;
}
.bottom-content .bottom-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bottom-content .bottom-img img {
  width: 90%;
  height: 90%;
}
.team {
  margin: 2%;
}
.team .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.team .member img {
  width: 10%;
  height: 10%;
  margin-bottom: 1%;
}
