nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .links {
        margin: 1%;
        
        a {
           text-decoration: none;
           color: #c716c4;
           width: 20%;
           justify-content: space-around; 
        }
    }

    .queue {
        display: flex;
        justify-content: space-between;
        margin: 1%;

        a {
            text-decoration: none;
            
        }
        p{
           padding: 1%; 
        }
    }
}

